.aboutme{
    display: flex;
    justify-content: center;
    margin: 200px 0;

    // h3{
    // font-size: 42px;
    // letter-spacing: 5px;
    // color: #fff;
    // text-transform: uppercase;
    //     &::before{
    //         content: "";
           
    
    //     }
    
    // }

    .box{
        width: 800px;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        border: 1px solid #707070;
        border-radius: 20px;
        background-color: #1E242E;

       p{
        
           color: #fff;
           text-align: center;
           font-size: 21px;
       }

       img{
      
           overflow: hidden;
           width: 200px;
           height: 300px;
           object-fit: cover;
       }
    }
}

