body {
    background: #161d28;
}

html {
    scroll-behavior: smooth;
  }

.header {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 0;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image: url("../img/header-bg.jpg");
        background-size: cover;
        background-position: top center;
        opacity: 0.3;
    }

    .navbar {
        width: 90%;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        z-index: 2;

        ul li {
            display: inline;
            padding: 20px;
            text-transform: uppercase;
        }

        a {
            color: #fff;
            transition: 0.2s ease-in-out;
            &:hover {
                color: #dddddd;
            }
        }
    }

    .header-main {
        display: flex;
        align-items: center;
        flex-basis: 90%;
        z-index: 1;

        .header-main_content {
            display: block;
            color: #fff;
            letter-spacing: 8px;
            line-height: 50px;

            .header-button {
                padding: 10px 20px;
                text-transform: uppercase;
                border: none;
                border-radius: 10px;
                background: #fff;
                font-family: "Source Sans Pro";
                cursor: pointer;
                transition: 0.2s ease-in-out;

                &:hover {
                    background: #dddddd;
                    border: none;
                }
            }
        }
    }
}


