
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 200px 0;
    position: relative;
    z-index: 0;
    height: 100vh;
    background-color: #161D28;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image: url("../img/projects-bg.jpg");
        background-size: cover;
        background-position: center;
        opacity: 0.1;
    }


   

    .project-box{
        width: calc(50% - 25px);
       height: 300px;
       margin: 10px;
       border: 1px solid;
       border-radius: 20px;
       z-index: 2;

       &:hover{

        transition: transform 0.7s;
       
       }


      
   }

   .card1{
    // width: 400px;
    // height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 0;
    background-color: #000;
     transition: all 1s ease;
    transform-style: preserve-3d;
   
    .card-front, .card-back{
      position: absolute;
      width: 400px;
      height: 300px;
      border-radius:5px;
      backface-visibility: hidden;
    }

    .card-front{
      background:url("../img/project1.jpg");
      border-radius: 20px;
      background-position:0 30%;
      background-size:cover;

    }

    .card-back{
      transform: rotateY(180deg);
        background-color: #141C3A;
        border-radius: 20px;
    }



    &:hover{
      transform: rotateY( 180deg );
    }
     
   }
 






















   .card-back{
    width: 100%;
    height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
      flex-wrap: wrap;
     border-radius: 20px;
     text-align: center;
     background-color: #141C3A;
     transform: translate(-50%, -50%);
        backface-visibility: hidden;
        transform: rotateY( 180deg );
       

        p{
          text-align: center;
          color: #fff;
          margin-top: auto;
        }
        a{
          width: 150px;
          height: 40px;
          line-height: 40px;
          margin-bottom: auto;
          text-align: center;
          background-color: transparent;
          color: #fff;
          border: 1px solid #7510F7;
          border-radius: 50px;
          transition: 0.2s ease-in-out;
          &:hover{
            background-color: #7510F7;
            color: #fff;
            cursor: pointer;
          }
        }
        

   }






















}
  // &::before{
    //   content: "";
    //     position: absolute;
    //     top: 0px;
    //     right: 0px;
    //     bottom: 0px;
    //     left: 0px;
    //   background-image: url("../img/project1.jpg");
    //   mix-blend-mode: lighten;
    //   border-radius: 20px;
    //   background-position: center; 
    //     background-repeat: no-repeat; 
    //    background-size: cover;
    //    opacity: 0.2;
 
    // }